DB_URL=example_host/example_db
DB_USERNAME=database_example_username
DB_PASSWORD=database_example_password

RABBIT_MQ_USERNAME=rabbitmq_example_username
RABBIT_MQ_PASSWORD=rabbitmq_example_password
RABBIT_MQ_HOST=rabbitmq
RABBIT_MQ_VHOST=/

JWT_SECRET_KEY=jwt_secret_key
JWT_ACCESS_TIME=access_time_milliseconds
JWT_REFRESH_TIME=refresh_time_milliseconds

MINIO_URL=http://minio_example
MINIO_PUBLIC_URL=http://minio_example/storage
MINIO_USERNAME=minio_example_username
MINIO_PASSWORD=minio_example_password
MINIO_BUCKETNAME=minio_example_bucket
